
*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 100%;
}

#cabecalho{
    background-color: #2b0000;
    border: 3px solid #ff0000;
    border-radius: 15px;
    text-align: center;
}

#nome-personagem{
    color: #ff0000;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}

#titulo-personagem{
    color: #cccccc;
    font-size: 20px;
}

section{
    background-color: #1c1c1c;
    border: 2px solid #ff0000;
    border-radius: 12px;
}

#secao-apresentacao{
    text-align: center;
}

#imagem-personagem{
    width: 300px;
    border: 3px solid #ff0000;
    border-radius: 20px;
}

.legenda{
    color: #aaaaaa;
    font-size: 14px;
}

.titulo-secao{
    color: #ff3333;
    font-size: 28px;
    font-weight: bold;
}

.texto-descricao{
    font-size: 18px;
}

#grade-atributos{
    text-align: center;
}

.card-atributo{
    background-color: #2b0000;
    border: 2px solid #ff0000;
    border-radius: 10px;
    width: 150px;
    display: inline-block;
}

.card-atributo:hover{
    opacity: 0.8;
}

.nome-atributo{
    font-weight: bold;
    font-size: 18px;
}

.valor-atributo{
    color: #ff4444;
    font-size: 22px;
}

.card-habilidade{
    background-color: #2b0000;
    border: 2px solid #ff0000;
    border-radius: 10px;
}

.card-habilidade:hover{
    opacity: 0.8;
}

.imagem-habilidade{
    width: 120px;
    border: 2px solid #ff0000;
    border-radius: 10px;
}

.nome-habilidade{
    color: #ff4444;
    font-size: 22px;
    font-weight: bold;
}

.tipo-habilidade{
    color: #dddddd;
}

.descricao-habilidade{
    font-size: 16px;
}

#lista-curiosidades{
    background-color: #2b0000;
    border: 2px solid #ff0000;
    border-radius: 10px;
}

.item-curiosidade{
    font-size: 18px;
}

#frase-personagem{
    background-color: #2b0000;
    border: 2px solid #ff0000;
    border-radius: 10px;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}

#autor-frase{
    text-align: right;
    color: #ff4444;
    font-weight: bold;
}

#rodape{
    background-color: #2b0000;
    border: 2px solid #ff0000;
    border-radius: 12px;
    text-align: center;
}

